{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
	title="{{	.Site.Params.main.img_title }}" width="200px" 
	alt="Author's picture or avatar or logo"/>
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{end}}
  <p>{{ .Content | safeHTML }}</p>
</div>
<div class="wrapper">
  <div class="table">
    <div class="header">
      <div class="feature">

      </div>
      <div class="first">
        Good
      </div>
      <div class="second">
        Better
      </div>
      <div class="third">
        Best
      </div>
    </div>
    <div class="container">

      <div class="row input">
         <div class="feature">
          New Content<br>
White Papers/eBooks = 1 
Exec Summaries/Solution Sheets/Case Studies = .5
Interactive Campaigns = 1
        </div>
        <div class="first">
          <input type="number" value="{{ .Params.new_content.first }}" min="0" max="16"/>
        </div>
        <div class="second">
          <input type="number" value="{{ .Params.new_content.second }}" min="0" max="16"/>
        </div>
        <div class="third">
          <input type="number" value="{{ .Params.new_content.third }}" min="0" max="16"/>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row input">
         <div class="feature">
          Top of Funnel Campaigns
        </div>
        <div class="first">
          <input type="number" value="{{ .Params.tofu.first }}" min="0" max="16"/>
        </div>
        <div class="second">
          <input type="number" value="{{ .Params.tofu.second }}" min="0" max="16"/>
        </div>
        <div class="third">
          <input type="number" value="{{ .Params.tofu.third }}" min="0" max="16"/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Lead Nurture
        </div>
        <div class="first">
          Email, Banner, Linkedin
        </div>
        <div class="second">
          Email, Banner, Linkedin
        </div>
        <div class="third">
          Email, Banner, Linkedin
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Re-Engagement & Marketing Ops
        </div>
        <div class="first">
          YES
        </div>
        <div class="second">
          YES
        </div>
        <div class="third">
          YES
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          SEO-Optimized Blog Posts
        </div>
        <div class="first">
          <input type="number" value="{{ .Params.blogs.first }}" min="0" max="16"/>
        </div>
        <div class="second">
          <input type="number" value="{{ .Params.blogs.second }}" min="0" max="16"/>
        </div>
        <div class="third">
          <input type="number" value="{{ .Params.blogs.third }}" min="0" max="16"/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Newsletter
        </div>
        <div class="first">
          24
        </div>
        <div class="second">
          24
        </div>
        <div class="third">
          24
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          CRM/Marketing Automation Integration
        </div>
        <div class="first">
          YES
        </div>
        <div class="second">
          YES
        </div>
        <div class="third">
          YES
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Media Buy & Strategic Planning
        </div>
        <div class="first">
          YES
        </div>
        <div class="second">
          YES
        </div>
        <div class="third">
          YES
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Meetings
        </div>
        <div class="first">
          Weekly
        </div>
        <div class="second">
          Weekly
        </div>
        <div class="third">
          Weekly
        </div>
      </div>
    </div>

    <div class="totals cost">
      <div class="feature">
        SERVICE COST PER MONTH<br>(3 MO commitment)
      </div>
      <div class="first">
        ${{ .Params.cost.first }}
      </div>
      <div class="second">
        ${{ .Params.cost.second }}
      </div>
      <div class="third">
        ${{ .Params.cost.third }}
      </div>
    </div>

    <div class="totals discount1">
      <div class="feature">
        SERVICE COST PER MONTH<br>(6 MO commitment)
      </div>
      <div class="first">
        
      </div>
      <div class="second">
        
      </div>
      <div class="third">
        
      </div>
    </div>

    <div class="totals discount2">
      <div class="feature">
        SERVICE COST PER MONTH<br>(12 MO commitment)
      </div>
      <div class="first">
      </div>
      <div class="second">
      </div>
      <div class="third">
      </div>
    </div>
    </div>

    </div>

{{ partial "menu.html" . }}
{{ $custom_js := "js/inputs.js"}}

    <script type="text/javascript" src="{{ $custom_js | absURL }}"></script>

{{end}}