{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
	title="{{	.Site.Params.main.img_title }}" width="200px" 
	alt="Author's picture or avatar or logo"/>
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{end}}
  <p>{{ .Content | safeHTML }}</p>
</div>
<div class="wrapper">
  <hr>
  <div class="contract-term">Length of signed contract: 
  <div><input type="radio" id="three" name="term" value="1"/><label for="three">3 months</label></div>
  <div><input type="radio" id="six" name="term" value="{{ .Params.moSix }}"/><label for="three">6 months</label></div>
  <div><input type="radio" id="twelve" name="term" value="{{ .Params.moTwelve }}"/><label for="three">12 months</label></div>
</div>
  <div class="table">
    <div class="header">
      <div class="feature">

      </div>
      <div class="first">
       1 Persona
      </div>
      <div class="second">
        2 Personas
      </div>
      <div class="third">
        3 Personas
      </div>
    </div>
    <div class="container">

      <div class="row input">
         <div class="feature">
          New Content<br>
White Papers/eBooks = 1 
Exec Summaries/Solution Sheets/Case Studies = .5
Interactive Campaigns = 1
        </div>
        <div class="first">
          <input type="number" value="{{ .Params.new_content.first }}" min="0" max="16"/>
        </div>
        <div class="second">
          <input type="number" value="{{ .Params.new_content.second }}" min="0" max="16"/>
        </div>
        <div class="third">
          <input type="number" value="{{ .Params.new_content.third }}" min="0" max="16"/>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row input">
         <div class="feature">
          Top of Funnel Campaigns
        </div>
        <div class="first">
          <input type="number" value="{{ .Params.tofu.first }}" min="0" max="16"/>
        </div>
        <div class="second">
          <input type="number" value="{{ .Params.tofu.second }}" min="0" max="16"/>
        </div>
        <div class="third">
          <input type="number" value="{{ .Params.tofu.third }}" min="0" max="16"/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Lead Nurture
        </div>
        <div class="first">
          <div><input type="radio" id="yn1" name="nurture1" value="1"/><label for="yn1">Yes</label></div>
          <div><input type="radio" id="nn1" name="nurture1" value="0"/><label for="nn1">No</label></div>
        </div>
        <div class="second">
          <div><input type="radio" id="yn2" name="nurture2" value="1"/><label for="yn2">Yes</label></div>
          <div><input type="radio" id="nn2" name="nurture2" value="0"/><label for="nn2">No</label></div>
        </div>
        <div class="third">
          <div><input type="radio" id="yn3" name="nurture3" value="1"/><label for="yn3">Yes</label></div>
          <div><input type="radio" id="nn3" name="nurture3" value="0"/><label for="nn3">No</label></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Re-Engagement & Marketing Ops
        </div>
        <div class="first">
          <div><input type="radio" id="yo1" name="ops1" value="1"/><label for="yo1">Yes</label></div>
          <div><input type="radio" id="no1" name="ops1" value="0"/><label for="no1">No</label></div>
        </div>
        <div class="second">
          <div><input type="radio" id="yo2" name="ops2" value="1"/><label for="yo2">Yes</label></div>
          <div><input type="radio" id="no2" name="ops2" value="0"/><label for="no2">No</label></div>
        </div>
        <div class="third">
          <div><input type="radio" id="yo3" name="ops3" value="1"/><label for="yo3">Yes</label></div>
          <div><input type="radio" id="no3" name="ops3" value="0"/><label for="no3">No</label></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          SEO-Optimized Blog Posts
        </div>
        <div class="first">
          <input type="number" value="{{ .Params.blogs.first }}" min="0" max="16"/>
        </div>
        <div class="second">
          <input type="number" value="{{ .Params.blogs.second }}" min="0" max="16"/>
        </div>
        <div class="third">
          <input type="number" value="{{ .Params.blogs.third }}" min="0" max="16"/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Newsletter
        </div>
        <div class="first">
          24
        </div>
        <div class="second">
          24
        </div>
        <div class="third">
          24
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          CRM/Marketing Automation Integration
        </div>
        <div class="first">
          YES
        </div>
        <div class="second">
          YES
        </div>
        <div class="third">
          YES
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Media Buy & Strategic Planning
        </div>
        <div class="first">
          YES
        </div>
        <div class="second">
          YES
        </div>
        <div class="third">
          YES
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row input">
         <div class="feature">
          Meetings
        </div>
        <div class="first">
          Weekly
        </div>
        <div class="second">
          Weekly
        </div>
        <div class="third">
          Weekly
        </div>
      </div>
    </div>

    <div class="totals cost">
      <div class="feature">
        SERVICE COST PER MONTH
      </div>
      <div class="first">
        ${{ .Params.cost.first }}
      </div>
      <div class="second">
        ${{ .Params.cost.second }}
      </div>
      <div class="third">
        ${{ .Params.cost.third }}
      </div>
    </div>
    </div>

    </div>
<div class="hide">
  <span id="base">{{ .Params.base }}</span>
  <span id="content1">{{ .Params.content.first }}</span>
  <span id="content2">{{ .Params.content.second }}</span>
  <span id="content3">{{ .Params.content.third }}</span>
  <span id="campaigns1">{{ .Params.campaigns.first }}</span>
  <span id="campaigns2">{{ .Params.campaigns.second }}</span>
  <span id="campaigns3">{{ .Params.campaigns.third }}</span>
  <span id="blogs1">{{ .Params.blogs.first }}</span>
  <span id="blogs2">{{ .Params.blogs.second }}</span>
  <span id="blogs3">{{ .Params.blogs.third }}</span>
  <span id="option1">{{ .Params.option1 }}</span>
  <span id="option2">{{ .Params.option2 }}</span>
  <span id="option3">{{ .Params.option3 }}</span>
</div>
{{ partial "menu.html" . }}
{{ $custom_js := "js/inputs1.js"}}

    <script type="text/javascript" src="{{ $custom_js | absURL }}"></script>

{{end}}